@charset "UTF-8";
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #ffffff;
  --accent-color: #2196f3;
  --header-border: #ececec;
  --heading-color: #212121;
  --icon-color: #afb1b8;
  --second-background: #2f303a;
  --team-background: #f5f4fa;
  --btn-active-background: #188ce8;
  --btn-background: rgba(0, 0, 0, 0.1);
  --nav-color: #212121;
  --light-theme: #000000;
  --tel-link-color: #757575;
  --border-color: #eeeeee;
  --footer-link: rgba(255, 255, 255, 0.6);
  --overlay: rgba(33, 150, 243, 0.9);
  --modal-background: rgba(0, 0, 0, 0.2);
  --title-pictures: rgba(47, 48, 58, 0.8);
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  background: var(--main-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  background: var(--main-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero .container {
  padding: 200px 0px;
  text-align: center;
  max-width: 696px;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.logo__accent-text {
  color: var(--accent-color);
}

.logo_theme-light {
  color: var(--light-theme);
}

.logo_theme-dark {
  color: var(--main-color);
}

.modal__btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-function);
  transition: background-color var(--transition-duration) var(--transition-function);
}

.modal__btn:hover, .modal__btn:focus {
  color: var(--main-color);
  background: var(--btn-active-background);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soc-list__item {
  margin-right: 10px;
}

.soc-list__item :not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--main-color);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition-duration) var(--transition-function);
  transition: background-color var(--transition-duration) var(--transition-function);
}

.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-background--btn-background);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-function);
  transition: opacity var(--transition-duration) var(--transition-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal-window {
  -webkit-transform: scale(0.8) translate(-50%, -50%);
          transform: scale(0.8) translate(-50%, -50%);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.4);
          transform: translate(-50%, -50%) scale(1.4);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-function);
  transition: transform var(--transition-duration) var(--transition-function);
  transition: transform var(--transition-duration) var(--transition-function), -webkit-transform var(--transition-duration) var(--transition-function);
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: 0;
  padding: 6px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
}

.close-button {
  fill: currentColor;
  -webkit-transition: fill var(--transition-duration) var(--transition-function);
  transition: fill var(--transition-duration) var(--transition-function);
}

.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.form-slogan {
  text-align: center;
  font-weight: 700;
  line-height: 1.15;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--nav_link-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.sign-form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.form-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.sign-form-label {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--tel-link-color);
}

.sign-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border-color var(--transition-duration) var(--transition-function);
  transition: border-color var(--transition-duration) var(--transition-function);
}

.sign-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.sign-icon-form {
  top: 50%;
  left: 12px;
  position: absolute;
  fill: currentColor;
  -webkit-transition: fill var(--transition-duration) var(--transition-function);
  transition: fill var(--transition-duration) var(--transition-function);
}

.sign-form-input:focus + .sign-icon-form {
  fill: var(--accent-color);
}

.sign-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color var(--transition-duration) var(--transition-function);
  transition: border-color var(--transition-duration) var(--transition-function);
}

.sign-comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.sign-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.sign-comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.sign-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.sign-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.sign-form-checkbox {
  margin-bottom: 30px;
  font-family: var(--main-font);
  color: var(--tel-link-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-form-checkbox::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--nav-color);
  cursor: pointer;
  margin-right: 8px;
  border-radius: 2px;
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-function);
  transition: box-shadow var(--transition-duration) var(--transition-function);
  transition: box-shadow var(--transition-duration) var(--transition-function), -webkit-box-shadow var(--transition-duration) var(--transition-function);
}

.sign-checkbox:checked + .sign-form-checkbox::before {
  border: none;
  background-image: url("../images/full-check.svg");
  background-color: var(--accent-color);
}

.sign-checkbox:focus + .sign-form-checkbox::before {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.agree-link {
  color: var(--accent-color);
}

.modal-form-btn {
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 200px;
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition-duration) var(--transition-function);
  transition: background-color var(--transition-duration) var(--transition-function);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-color);
  -webkit-transition: color var(--transition-duration) var(--transition-function);
  transition: color var(--transition-duration) var(--transition-function);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  display: inline;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.tel {
  margin-left: 50px;
}

.contact-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tel-link-color);
  -webkit-transition: color var(--transition-duration) var(--transition-function);
  transition: color var(--transition-duration) var(--transition-function);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  margin-right: 10px;
  fill: var(--tel-link-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-function);
  transition: fill var(--transition-duration) var(--transition-function);
}

.contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon {
  fill: var(--accent-color);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--second-background);
  text-align: center;
  color: var(--main-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img-herro.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-herro.jpg");
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -30px;
}

.advantage_lists :first-child {
  margin-left: 0;
}

.advantage_lists__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.advantage_lists__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--team-background);
}

.advantage_lists__icon {
  width: 70px;
  height: 70px;
}

.advantage_lists__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-color);
}

.advantage_lists__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.about {
  padding-bottom: 94px;
}

.about-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.about-lists__items {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 50px;
}

.about-lists__card {
  position: relative;
}

.about-lists__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23.8%;
  background-color: var(--title-pictures);
}

.about-lists__title {
  text-align: center;
  display: inline-block;
  position: absolute;
  padding: 27px 82px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background);
}

.team-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
  text-align: center;
}

.team-lists__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 50px;
}

.team-lists__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}

.team-lists__card {
  padding: 30px;
  background: var(--main-color);
  border-radius: 0px 0px 4px 4px;
}

.team-lists__prof {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--tel-link-color);
  margin-bottom: 14px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  background-color: var(--main-color);
  -webkit-transition: backgrund-color var(--transition-duration) var(--transition-function);
  transition: backgrund-color var(--transition-duration) var(--transition-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  -webkit-transition: fill var(--transition-duration) var(--transition-function);
  transition: fill var(--transition-duration) var(--transition-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--main-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -50px;
  margin-left: -30px;
}

.clients-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc(100% / 6 - 30px);
      flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 50px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: var(--transition-duration) var(--transition-function);
  transition: var(--transition-duration) var(--transition-function);
}

.clients-list__item:hover,
.clients-list__icon .clients-list__item:focus,
.clients-list__icon {
  border-color: var(--accent-color);
}

.clients-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  fill: var(--icon-color);
  -webkit-transition: border var(--transition-duration) var(--transition-function);
  transition: border var(--transition-duration) var(--transition-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--accent-color);
}

.clients-list__icon {
  /* svg */
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background);
}

.contact__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
  -webkit-transition: color var(--transition-duration) var(--transition-function);
  transition: color var(--transition-duration) var(--transition-function);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link);
  -webkit-transition: color var(--transition-duration) var(--transition-function);
  transition: color var(--transition-duration) var(--transition-function);
}

.contact__footer-link:hover, .contact__footer-link:focus {
  color: var(--accent-color);
}

.contact__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.joined {
  margin-left: 70px;
}

.join-us {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.subscribe {
  display: inline-block;
  margin-left: 93px;
}

.subscribe__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.subscribe__mail {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: var(--background-color);
  padding-left: 16px;
  outline: none;
  color: var(--main-color);
  -webkit-transition: border-color var(--transition-duration) var(--transition-function);
  transition: border-color var(--transition-duration) var(--transition-function);
}

.subscribe-form:focus {
  border-color: var(--accent-color);
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.subscribe__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  padding: 10px 28px 10px 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 200px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--transition-duration) var(--transition-function);
  transition: background-color var(--transition-duration) var(--transition-function);
}

.subscribe__btn:hover, .subscribe__btn:focus {
  cursor: pointer;
  background-color: #188ce8;
  color: var(--main-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--main-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-function);
  transition: opacity var(--transition-duration) var(--transition-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal-window {
  -webkit-transform: scale(0.8) translate(-50%, -50%);
          transform: scale(0.8) translate(-50%, -50%);
}

.header-portfolio {
  border-bottom: 1px solid var(--header-border);
}

.nav-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-btn-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 8px;
  margin-top: 8px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* raspologaet elementi på centry */
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-portfolio:not(:last-child) {
  margin-right: 8px;
}

/*.portfolio-btn {
  flex-basis: calc(100% / 5 - 8px);
  margin-left: 8px;
  margin-top: 8px;
}*/
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* justify-content: space-between; */
}

.portfolio-list-item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio {
  background: var(--main-color);
}

.portfolio-btn {
  display: inline-block;
  text-align: center;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: var(--nav-color);
  background: var(--team-background);
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function), -webkit-box-shadow var(--transition-duration) var(--transition-function);
  transition: background-color var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function), -webkit-box-shadow var(--transition-duration) var(--transition-function);
  transition: background-color var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function), box-shadow var(--transition-duration) var(--transition-function);
  transition: background-color var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function), box-shadow var(--transition-duration) var(--transition-function), -webkit-box-shadow var(--transition-duration) var(--transition-function);
  /*transition-property: bckground-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-titel {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-color);
}

.img-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--tel-link-color);
}

.portfolio-list-content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-content-wrapper {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-link {
  display: block;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .card-overlay,
.portfolio-link:focus .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  display: block;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
/*# sourceMappingURL=main.css.map */