
.img-titel {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--nav-color);
}
.img-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--tel-link-color);
}
.portfolio-list-content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  display: block;
}

.portfolio-link {
  display: block;
  
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list-content-wrapper {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}



.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: var(transition-duration) var(--timing-function);
}
.portfolio-link:hover .card-overlay {
  transform: translateY(0);
  opacity: 1;
}
.portfolio-link {
  transition: var(transition-duration) var(--timing-function);
}

.card-content {
  display: block;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;
  color: var(--main-color);
}