.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background);
}

.team-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
  text-align: center;
}
.team-lists__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 50px;
}
.team-lists__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}
.team-lists__card {
  padding: 30px;

  background: var(--main-color);
  border-radius: 0px 0px 4px 4px;
}
.team-lists__prof {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--tel-link-color);
  margin-bottom: 14px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  background-color: var(--main-color);
  transition: backgrund-color var(--transition-duration)
    var(--transition-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list__icon {
  width: 20px;
  height: 20px;
  transition: fill var(--transition-duration) var(--transition-function);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--main-color);
  }
}