
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-background);
  opacity: 1;

  transition: opacity var(--transition-duration) var(--transition-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal-window {
  transform: scale(0.8) translate(-50%, -50%);
}