.container {
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  .hero & {
    padding: 200px 0px;
    text-align: center;
    max-width: 696px;
  }
}