:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #ffffff;
  --accent-color: #2196f3;
  --header-border: #ececec;
  --heading-color: #212121;
  --icon-color: #afb1b8;
  --second-background: #2f303a;
  --team-background: #f5f4fa;
  --btn-active-background: #188ce8;
  --btn-background: rgba(0, 0, 0, 0.1);
  --nav-color: #212121;
  --light-theme: #000000;
  --tel-link-color: #757575;
  --border-color: #eeeeee;
  --footer-link: rgba(255, 255, 255, 0.6);
  --overlay: rgba(33, 150, 243, 0.9);
  --modal-background: rgba(0, 0, 0, 0.2);
  --title-pictures: rgba(47, 48, 58, 0.8);
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
body {
  font-family: var(--main-font);
  font-weight: 400;
  background: var(--main-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}